.add-btn {
  background-color: blue;
  color: #ffffff;
}

.dlt-btn {
  background-color: #ff0000;
  color: #ffffff;
  margin-right: 4px;
}

.edit-btn {
  background-color: #ffbf00;
  color: #ffffff;
}
