<div class="container">
  <app-test-apollo></app-test-apollo>
  <div class="row mb-4">
    <div class="col-md-12 mb-2">
      <input
        class="form-control"
        type="file"
        (change)="onFileSelected($event)"
      />
    </div>
    <div class="col-md-12">
      <button kendoButton class="add-btn" (click)="handleUploadExcel()">
        Add Student
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <kendo-grid [data]="gridData">
        <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
        <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
        <kendo-grid-column field="dob" title="BirthDay"> </kendo-grid-column>
        <kendo-grid-column field="age" title="Age"> </kendo-grid-column>
        <kendo-grid-column field="email" title="Email"> </kendo-grid-column>
        <kendo-grid-column field="" title="Action">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button
              kendoButton
              class="dlt-btn"
              (click)="handleDeleteStudent(dataItem.id)"
            >
              Delete
            </button>
            <button
              kendoButton
              *ngIf="!opened"
              class="edit-btn"
              (click)="handleEditStudent(dataItem.id)"
            >
              Edit
            </button>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>

<kendo-dialog
  title="Edit Student"
  *ngIf="opened"
  (close)="close('cancel')"
  [minWidth]="250"
  [width]="450"
>
  <div>
    <form (ngSubmit)="onEditStudent(studentForm)" #studentForm="ngForm">
      <div class="mb-3">
        <kendo-label text="Name" class="name-form-label"></kendo-label>
        <kendo-textbox
          placeholder="{{ loadEditStudent.name }}"
          class="input-text"
          name="name"
          ngModel
        ></kendo-textbox>
      </div>

      <div class="mb-3">
        <kendo-label text="BirthDate" class="birth-form-label"></kendo-label>
        <kendo-textbox
          placeholder="{{ loadEditStudent.dob }}"
          class="input-text"
          name="dob"
          ngModel
        ></kendo-textbox>
      </div>
      <div class="mb-3">
        <kendo-label text="Email" class="email-form-label"></kendo-label>
        <kendo-textbox
          placeholder="{{ loadEditStudent.email }}"
          class="input-text"
          name="email"
          ngModel
        ></kendo-textbox>
      </div>

      <button kendoButton type="submit" class="add-btn">Edit Student</button>
    </form>
  </div>
  <!-- <kendo-dialog-actions>
    <button kendoButton (click)="close('no')">No</button>
    <button kendoButton (click)="close('yes')" themeColor="primary">Yes</button>
  </kendo-dialog-actions> -->
</kendo-dialog>
