<div class="form-container">
  <form (ngSubmit)="onSubmit(studentForm)" #studentForm="ngForm">
    <div class="mb-3">
      <kendo-label text="Name" class="name-form-label"></kendo-label>
      <kendo-textbox
        placeholder="your name here"
        class="input-text"
        name="name"
        ngModel
      ></kendo-textbox>
    </div>

    <div class="mb-3">
      <kendo-label text="BirthDate" class="birth-form-label"></kendo-label>
      <kendo-textbox
        placeholder="your birthdate here"
        class="input-text"
        name="dob"
        ngModel
      ></kendo-textbox>
    </div>
    <div class="mb-3">
      <kendo-label text="Email" class="email-form-label"></kendo-label>
      <kendo-textbox
        placeholder="your email here"
        class="input-text"
        name="email"
        ngModel
      ></kendo-textbox>
    </div>

    <button kendoButton type="submit" class="add-btn">Add Student</button>
  </form>
</div>
