<div class="form-container">
  <form>
    <div class="mb-3">
      <kendo-label text="Name" class="name-form-label"></kendo-label>
      <kendo-textbox
        placeholder="your name here"
        class="input-text"
      ></kendo-textbox>
    </div>
    <div class="mb-3">
      <kendo-label text="Age" class="age-form-label"></kendo-label>
      <kendo-textbox
        placeholder="your age here"
        class="input-text"
      ></kendo-textbox>
    </div>
    <div class="mb-3">
      <kendo-label text="BirthDate" class="birth-form-label"></kendo-label>
      <kendo-textbox
        placeholder="your birthdate here"
        class="input-text"
      ></kendo-textbox>
    </div>
    <div class="mb-3">
      <kendo-label text="Email" class="email-form-label"></kendo-label>
      <kendo-textbox
        placeholder="your email here"
        class="input-text"
      ></kendo-textbox>
    </div>

    <button kendoButton class="add-btn">Add Student</button>
  </form>
</div>
